# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/routes/__pycache__/
backend/tests/__pycache__/
*.pyc
*.pyo
backend/expenses.db
backend/instance/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
